# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/
ENV/

# Flask-related
instance/
*.db
*.sqlite3
*.log

# dotenv files
.env

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp

config/constants.py